Source: keccak
Section: programming
Priority: optional
Maintainer: Bernd Paysan <bernd@net2o.de>
Build-Depends: debhelper, build-essential, gcc, autoconf, automake, libtool, libtool-bin, libc

Package: keccak
Version: 3.2
Architecture: any
Depends: ${shlibs:Depends}
Multi-Arch: same
Description: Keccak
 Keccak is the crypto primitive for SHA-3, but also can be used for
 authenticated en- and decryption (AEAD).
